.showFollow {
    position: relative;
}
.showFollow:hover {
    color: rgb(96 165 250);
    position: relative;
}   
.showFollow:hover::after {
    content: "Suivre";
    position: absolute;
    top: -120%;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: rgb(96 165 250);
    font-weight: bold;
    z-index: 1;
}



.beforeCommentaire:not(:empty)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2.1rem;
    width: calc(2.1rem - 1px);
    height: 1px;
    background-color: lightgray;
}
.borderCommentaire::after {
    content: "";
    position: absolute;
    background-color: lightgray;
    left: -2.1rem;
    top: -85%;
    height: 135%;
    width: 1px;

}

