<form method="post" action="{{ path('app_edit_profile_delete') }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer définitivement votre compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn text-red-500 border border-red-500 px-2">Supprimer définitivement le compte</button>
</form>
