{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% include 'back.html.twig' %}
    <div class="border border-black m-4 p-2">
    <h1>Edition de profil</h1>
        <div><strong>Nom utilisateur:</strong> {{ user.username }}</div>
        <div><strong>Email:</strong> {{ user.email }}</div>
        <div><strong>Bio:</strong> {{ user.bio }}</div>
    
                    <a href="{{ path('app_edit_profile_edit') }}" class="text-blue-500">Modifier</a>
</div>
{% endblock %}
