{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	{% include 'back.html.twig' %}

		<div  class=" flex-1 p-2 border border-[var(--text-color)] ">

			{{ include('profile/_showprofile.html.twig') }}
		 
		</div>
        <div class="flex flex-col gap-1 flex-1">
			<a href="{{ path('app_edit_profile_edit') }}" class="text-white bg-blue-500 p-2 font-bold 
            hover:bg-blue-700 hover:text-white transition duration-300 ease-in-out pl-4 text-center
            ">Modifier</a>
       
    </div>
{% endblock %}
