@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --text-color: black;
  --inverted-text-color: white;
  --bg-color: white;
  --border-color: lightgray;
  --dark-border-color: lightgray;

}

::placeholder {
  color: var(--border-color);
}
.h-screen {
  max-height: -webkit-fill-available;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: gray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(96 165 250);
    border-left: 1px solid white;
    border-radius: 5px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(59 130 246);
  }

  body {
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }

  * {
    font-size: clamp(.9rem, 1.2vw, 1.2rem);
  }